* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

.container {
    border: 3px solid black;
    background-color: gray;
    width: 90%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    padding-left: 10px;
}

.row {
    width: 100%;
}

.heading {
    width: 40%;
    height: 35px;
    position: relative;
    margin-top: 0;
    border: 3px solid black;
    margin-bottom: 15px;
    left: 60.5%;
    bottom: 1.5%;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-size: 20px;
}

#first-heading {
    background-color: rgb(144, 86, 106);
    color: black;
}

#second-heading {
    background-color: brown;
}

#third-heading {
    background-color: bisque;
    color: black;

}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }

    .col-md-12 .container {
        width: 95%;
    }
}

